{% extends 'base.html' %}

{% block content %}

<div class="row">
{% if category_posts %}


  <h1>{{ cats}}</h1>

  {% for post in category_posts %}
    <div class="col-sm-4">
      <h5>
        <a href="{% url 'article-detail' post.pk %}" style="text-decoration: none">
        {{ post.title }}
        </a>
      </h5>
      {% if post.video_file %}
        <div class="">
        <video class="img-fluid" controls>
            <source src="{{ post.video_file.url }}" type="video/mp4">
        </video>

        </div>
        {% else %}
        <div class="">
        
          <img src="{{ post.header_image.url }}" class="img-fluid">
        
        </div>
        {% endif %}

      <p>
        {{ post.author.first_name }}
    {{ post.author.last_name }} - {{ post.post_date }} - <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
    <small>
      {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
          <a href="{% url 'update_post' post.pk %}" data-bs-toggle="tooltip" title="Edit your post" style="text-decoration: none" class="">(Edit)</a>
          <a href="{% url 'delete_post' post.pk %}" data-bs-toggle="tooltip" title="Delete this post" style="text-decoration: none" class="">(Delete)</a>
        {% endif %}
      {% endif %}  
    </small>

    <br />
    {{ post.snippet }}
  
      </p>
      <hr class="d-sm-none">
    </div>
  {% endfor %}

{% else %}
  <h2>Sorry this page does't exit..</h2>
{% endif %}

</div>


{% endblock %}